@charset "UTF-8";

.loginpage {
  width:70%;
  height: 90%;
  margin: auto;
  margin-top: 10%;
}

.socialloginlinks {
  float: left;
  width: 40%;
  text-align: center;
}

.loginform {
  float: left;
  width: 55%;
  padding: 1%;
}

.loginbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity: 1;
}