/* @charset "UTF-8"; */

.registerpage {
	width:70%;
	height: 60%;
	margin: auto;
	margin-top: 10%;
}

.loginlinks {
	float: left;
	width: 40%;
}

.registerform {
	float: left;
	width: 55%;
	padding: 1%;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}